<%- include('partials/header.ejs'); -%>

<div class="boxmeni">
  <h1>Galerija</h1>
</div>

<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="https://www.instagram.com/p/CRLWIM0LoxY/?img_index=1"><img src="slike/Restac3.PNG" class="d-block0" alt="plata 1" width="300px"></a>
    </div>
    <div class="carousel-item">
      <a href="https://www.instagram.com/p/CRLWIM0LoxY/?img_index=2"><img src="slike/Restac4.PNG" class="d-block0" alt="plata 1" width="300px"></a>
    </div>
    <div class="carousel-item">
      <a href="https://www.instagram.com/p/CRLWIM0LoxY/?img_index=3"><img src="slike/Restac5.PNG" class="d-block0" alt="plata 1" width="300px"></a>
    </div>
    <div class="carousel-item">
      <a href="https://www.instagram.com/p/B3aRx5snYhf/?img_index=1"><img src="slike/Restac9.PNG" class="d-block0" alt="plata 1" width="300px"></a>
    </div>
    <div class="carousel-item">
      <a href="https://www.instagram.com/shade_bar_puntizela/"><img src="slike/Restac6.PNG" class="d-block0" alt="plata 1" width="300px"></a>
    </div>
    <div class="carousel-item">
      <a href="https://www.instagram.com/shade_bar_puntizela/"><img src="slike/Restac7.PNG" class="d-block0" alt="plata 1" width="300px"></a>
    </div>
    <div class="carousel-item">
      <a href="https://www.instagram.com/shade_bar_puntizela/"><img src="slike/Restac8.PNG" class="d-block0" alt="plata 1" width="300px"></a>
    </div>
    <div class="carousel-item">
      <a href="https://www.instagram.com/shade_bar_puntizela/"><img src="slike/Restac.PNG" class="d-block0" alt="plata 1" width="300px"></a>
    </div>
    <div class="carousel-item">
      <a href="https://www.instagram.com/shade_bar_puntizela/"><img src="slike/Restac2.PNG" class="d-block0" alt="plata 1" width="300px"></a>
    </div>
    <div class="carousel-item">
      <img src="slike/Restoran2.jpg" class="d-block0" alt="plata 1" width="300px">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>








<video class="video" controls>
  <source src="video/video1.mp4" type="video/mp4">
</video>

<video class="video" controls>
  <source src="video/video2.mp4" type="video/mp4">
</video>

<%- include('partials/footer.ejs'); -%>