<%- include('partials/header2.ejs'); -%>

<div class="boxmeni">
  <h1><b>Log in</b></h1>
</div>


<div class="login-box">
  <form class="forma" action="/login" method="POST">
    
    <input type="" class="form-control" name="username" id="ticket-form-username" placeholder="User name"  required="">

    <input type="password" class="form-control" name="lozinka" id="ticket-form-lozinka" placeholder="Lozinka"  required="">
    <button type="submit" class="btn btn-primary" id="loginbutton">Ulogirajte se</button>
  </form>
</div>


<%- include('partials/footer.ejs'); -%>