<%- include('partials/header2.ejs'); -%>

<div class="boxmeni">
  <h1><b>Registracija</b></h1>
</div>


<div class="registracija-box">
  <form class="forma" action="/register" method="POST">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-12">
            <input type="" name="username" id="ticket-form-username" class="form-control" placeholder="User name" required>
        </div>

        <div class="col-lg-6 col-md-6 col-12">
            <input type="email" name="email" id="ticket-form-email" class="form-control" placeholder="Email" required>
        </div>
    </div>
    <input type="password" class="form-control" name="lozinka" id="ticket-form-lozinka" placeholder="Lozinka"  required="">
    <button type="submit" class="btn btn-primary" id="registracijabutton">Registrirajte se</button>
  </form>
</div>




<%- include('partials/footer.ejs'); -%>