<%- include('partials/header.ejs'); -%>

<div class="boxmeni">
  <h1><b>Meni</b></h1>
</div>
<div class="box2">
  <h1>Jela</h1>
</div>
<div class="box" id="taskList">
  <div class="item">     
    <div>
      <p>Hamburger i pomfri</p>
      <p class="cijena">Cijena: 15$</p>
    </div>   
    <img class="hrana" src="slike/burger2.jpg" alt="">
  </div>
  <div class="item">
    <div>
      <p>Piletina na žaru</p>
      <p class="cijena">Cijena: 13$</p>
    </div>   
    <img class="hrana2" src="slike/piletina2.jpeg" alt="">
  </div>
  <div class="item">
    <div>
      <p>Ribeye steak</p>
      <p class="cijena">Cijena: 29$</p>
    </div> 
    <img class="hrana3" src="slike/steak.jpg" alt="">
  </div>
  <div class="item">
    <div>
      <p>Mesna plata za dvoje</p>
      <p class="cijena">Cijena: 30$</p>
    </div> 
    <img class="hrana4" src="slike/plata.jpg" alt="">
  </div>
</div>

<div class="box2">
  <h1>Pića</h1>
</div>
<div class="box" id="taskList">
  <div class="item">     
    <div>
      <p>Coca Cola</p>
      <p class="cijena">Cijena: 3$</p>
    </div>   
    <img class="pica" src="slike/kola.jpg" alt="">
  </div>
  <div class="item">
    <div>
      <p>Fanta</p>
      <p class="cijena">Cijena: 3$</p>
    </div>   
    <img class="pica2" src="slike/fanta2.jpg" alt="">
  </div>
  <div class="item">
    <div>
      <p>Aperol Spritz</p>
      <p class="cijena">Cijena: 4$</p>
    </div> 
    <img class="pica3" src="slike/aperol2.jpg" alt="">
  </div>
  <div class="item">
    <div>
      <p>Ledena kava</p>
      <p class="cijena">Cijena: 2$</p>
    </div> 
    <img class="pica3" src="slike/kafaled.jpg" alt="">
  </div>
</div>


<%- include('partials/footer.ejs'); -%>